<!DOCTYPE html>
<html>
  <head>
    <title>DiscoManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <div class="dashboard">
        <%= render "shared/components/dashboard_sidebar" %>
        <div class="dashboard-content">
          <%= yield %> <!-- This will render the specific content based on the route -->
        </div>
      </div>
    <% else %>
      <%= yield %> <!-- This can render the login/signup form or other content for unauthenticated users -->
    <% end %>
  </body>
</html>